.corner-menu {
    position: fixed;
    top: 100px;
    right: 300px;
    z-index: 9999;
}

.dots {
    width: 40px;
    height: 40px;
    background-color: #23272A;
    border-radius: 50%;
    position: relative;
}

.dots::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
}

.dots::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    bottom: 50%;
}

.dots::before {
    top: 20%;
}

.dots::after {
    top: 80%;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    /* Adjusted to display the menu below the dots */
    right: -10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.corner-menu:hover .menu {
    display: block;
}

.menu a {
    display: block;
    color: #23272A;
    text-decoration: none;
    padding: 5px 0;
}

.menu a:hover {
    background-color: #f0f0f0;
}


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    background-size: 100%;
    padding-bottom: 30px;
}

.footer_logo {
    width: 100%;
    float: left;
    text-align: center;
    display: none;
}

.footer_logo_1 {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.address_bt {
    width: 100%;
    float: left;
}

.address_bt ul {
    margin: 0px;
    padding: 0px;
}

.address_bt li {
    font-size: 16px;
    color: #ffffff;
    padding: 10px 0px 0px 0px;
}

.address_bt li a {
    color: #ffffff;
}

.address_bt li a:hover {
    color: #f5ddb6;
}

.padding_left10 {
    padding-left: 10px;
}

.address_text {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.dummy_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
    padding-top: 20px;
}

.ipsum_text {
    width: 65%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    padding-top: 10px;
}

.main {
    width: 54%;
    float: right;
}

.social_icon {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    border-bottom: 1px solid #f5ddb6;
    padding-bottom: 30px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.social_icon li {
    float: left;
    font-size: 26px;
    color: #f5ddb6;
    padding: 10px;
}

.social_icon li a {
    color: #4550e4;
}

.social_icon li a:hover {
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.layout_padding {
    padding-top: 50px;
}


/* footer section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #f5ddb6;
}

.margin_top90 {
    margin-top: 90px;
}


/*